# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\onedrive\IdeaProjects\vueblog\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
